.root {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.paginationItem {
  color: #B3B3B3;
  border-color: rgba(255, 232, 31, 0.1);

  &:hover {
    background-color: rgba(255, 232, 31, 0.1);
  }

  &.selected {
    background-color: rgba(255, 232, 31, 0.2);
    color: #FFE81F;
    border-color: rgba(255, 232, 31, 0.3);

    &:hover {
      background-color: rgba(255, 232, 31, 0.3);
    }
  }
} 